@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap");

.poppins {
  font-family: "Poppins", sans-serif;
}

.hind_siliguri {
  font-family: "Hind Siliguri", sans-serif;
}

.active {
  background-color: #badeff4d;
  color: #fff;
}
